{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Agregar un Abogado </h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('abogado') }}">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
